.line-chart-container {
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
}

.report-btn {
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 10px;
  border-color: rgb(15, 220, 87);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: rgb(15, 220, 87);
  color: rgb(255, 255, 255);
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.report-btn:hover {
  background-color: #ffffff;
  color: rgb(15, 220, 87);
  transition: background-color 0.5s, color 0.5s;
}
.graph-btn {
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 10px;
  border-color: goldenrod;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: goldenrod;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.graph-btn:hover {
  background-color: #ffffff;
  color: goldenrod;
  transition: background-color 0.5s, color 0.5s;
}
.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
  stroke: none;
}

.recharts-cartesian-grid-horizontal line {
  stroke-dasharray: 3 3;
}

.recharts-cartesian-axis-tick-value {
  font-size: 12px;
  fill: #666;
}

.recharts-legend-item-text {
  font-size: 14px;
  font-weight: bold;
}

.recharts-reference-line text {
  fill: #666;
  font-size: 12px;
}

.recharts-tooltip-label {
  font-size: 14px;
  font-weight: bold;
}

.recharts-tooltip-item-name {
  font-weight: bold;
}

.recharts-tooltip-item-value {
  font-weight: bold;
}

.recharts-tooltip-box {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 1px;
  opacity: 0.9;
}

.recharts-dot {
  stroke-width: 2px;
}

.recharts-y-axis,
.recharts-x-axis {
  font-size: 14px;
  font-weight: bold;
}

.recharts-y-axis-label,
.recharts-x-axis-label {
  font-size: 16px;
  font-weight: bold;
}

.recharts-line-dots {
  stroke-width: 0;
  fill: #fff;
}

.recharts-line-dot {
  stroke-width: 2px;
}

.recharts-line {
  stroke-width: 3px;
}

.recharts-line-dash {
  stroke-dasharray: 5 5;
}

.recharts-line-bpm path {
  stroke: #ff5252;
}

.recharts-line-spO2 path {
  stroke: #448aff;
}

.recharts-line-motion path {
  stroke: #4caf50;
}

.abnormal-bpm {
  color: white;
}

.abnormal-spO2 {
  color: white;
}

.view-o2report-btn {
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-color: #c05780;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: #c05780;
  color: rgb(255, 255, 255);
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.view-o2report-btn:hover {
  background-color: #ffffff;
  color: #c05780;
  transition: background-color 0.5s, color 0.5s;
}

.view-sleepreport-btn {
  overflow: hidden;

  margin-right: 5px;
  margin-bottom: 10px;
  border-color: #97c1a9;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: #97c1a9;
  color: rgb(255, 255, 255);
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.view-sleepreport-btn:hover {
  background-color: #ffffff;
  color: #97c1a9;
  transition: background-color 0.5s, color 0.5s;
}
