.pageheader {
  padding-top: 1%;
  padding-bottom: 3%;
  text-align: center;
  font-weight: bold;
  line-height: 1em;
  color: rgb(25, 169, 0);
  font-size: 3em;
}
.predict {
  overflow: hidden;
  padding: 5px;
  background-color: rgb(255, 166, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 166, 0);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.predict:hover {
  background-color: #ffffff;
  color: rgb(255, 166, 0);
  transition: background-color 0.5s, color 0.5s;
}
input[type="file"] {
  display: none;
}

.custom-file-upload {
  overflow: hidden;
  padding: 5px;
  margin-top: 30px;
  margin-left: 20px;
  background-color: maroon;
  color: rgb(255, 255, 255);
  border-color: maroon;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.custom-file-upload:hover {
  background-color: #ffffff;
  color: maroon;
  transition: background-color 0.5s, color 0.5s;
}

table.testtable {
  /* display: inline-block; */
  padding: 5px;
  width: 300px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  overflow: hidden;
  border-radius: 5px;
  min-width: 1800px;
}

thead th {
  background-color: rgb(25, 169, 0);
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

th,
td {
  padding: 10px 15px;
  text-align: center;
}
td {
  font-size: 20px;
}
tbody td {
  color: rgb(0, 0, 0);
}
tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

tbody tr:nth-of-type(even) {
  background-color: #d3ffee;
}

table.testtable td:first-child {
  color: rgb(25, 169, 0);
}
h2.loading {
  text-align: center;
  color: #ffffff;
}
.back {
  overflow: hidden;
  padding: 5px;
  margin-top: 30px;
  margin-left: 20px;
  background-color: darkmagenta;
  color: rgb(255, 255, 255);
  border-color: darkmagenta;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.back:hover {
  background-color: #ffffff;
  color: darkmagenta;
  transition: background-color 0.5s, color 0.5s;
}
