.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sleepeasy {
  position: absolute;
  font-size: 200px;
  font-weight: bold;
  font-style: italic;
  left: 250px;
  top: 350px;
  color: salmon;
  margin-bottom: 10px;
}

.title {
  position: absolute;
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
  color:white;
  left:600px;
  margin: 0;
  padding: 0;
}

