table.stafftable {
  /* display: inline-block; */
  padding: 5px;
  width: 300px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  max-width: 2000px;
  min-width: 1800px;
  overflow: hidden;
  border-radius: 5px;
}
.addupdateform {
  max-width: 1000px;
  min-width: 800px;
  margin: auto;
}
.table th,
.table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.table thead th {
  background-color: #444;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.table tbody tr:nth-child(even) {
  background-color: #ddd;
}

.table tbody tr:hover {
  background-color: #ccc;
}

.mb-2 {
  margin-bottom: 20px;
}
